<!-- Kontextová reklama Sklik -->
<div id="sklikReklama_74660"></div>
<script>
    var sklikData = { elm: "sklikReklama_74660", zoneId: "74660", w: 728, h: 90 };
</script>
<script src="//c.imedia.cz/js/script.js"></script>