.flashMessage {
	background-color: #00a6e5;
	display: block;
	width: 100%;
	text-align: center;
	color: white;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999999;
	margin-bottom: -55px;
}

.article-header {
	text-align: center;
	padding: 20px;
}

.article-header-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.55);
}

.article-header a {
	position: relative;
}

.article-body {
	text-align: justify;
	padding: 10px;
}

.article-footer {
	text-align: center;
	padding: 20px;
}

.text-light {
	color: white;
}

.centered {
	text-align: center;
}

.share-button {
	font-family: 'Open Sans', sans-serif;
}

.img-gallery-container {
	overflow: hidden;
	height: 150px;
}

.img-gallery {
	padding: 2px;
}

.sklik {
	padding-top: 10px;
}

.sklik iframe {
	margin: 0px auto;
}