<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{plink //Homepage:default}</loc>
        <lastmod>{$lastUpdateAt|date:'Y-m-d'}</lastmod>
        <changefreq>daily</changefreq>
        <priority>0.5</priority>
    </url>
    {foreach $articles as $article}
    <url>
        <loc>{plink //Article:default id => $article->getId(), slug => $article->getSlug()}</loc>
        <lastmod>{$article->getUpdatedAt()|date:'Y-m-d'}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>
    {/foreach}
</urlset>